@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
* {
  font-family: 'Roboto', sans-serif;
}
html {
  background: #fff;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;
  color: #fff;
  background: #282c34;
}
.App .header .header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.App .header .header-center {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App .header .header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.App .main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;  
  padding: 0.3rem;
}